<header>
    <nav>
        <ul>
            {{#if loggedUser}}
                <li>Bienvenido {{loggedUser}}</li>
                <li><a href="/profile">Mi perfil</a></li>
                <li><a href="/chat">Chat</a></li>
            {{else}}
                <li><a href="/login">Login</a></li>
            {{/if}}
            <li><a href="/register">Sign in</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
</header>
