<div id="">
    <form action="" id="log_form">
        <input required type="email" name="user_email" id="user_email">
        <input type="submit" value="ingresar">
    </form>
    <hr>
</div>
<div id="chat_box" class="">
    <div id="chat_list" class="" style="">
    </div>

    <hr>
    <div class="">
        <form id="new_message" action="#" method="post">
            <input type="hidden" value="{{email}}" id="userMail" name="userMail">
            <label for="user">
                Mensaje: <br>
                <textarea name="message" id="body-text" cols="50" rows="4"></textarea>
            </label>
            <input type="submit" value="Enviar">
        </form>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/statics/js/chat.client.js"></script>
