<h1>
    Login
</h1>
<form >
    <label for="email">
        Correo
        <input type="mail" name="email" id="">
    </label><br>
    <label for="pass">
        Contraseña
        <input type="password" name="pass" id="">
    </label><br>
    <input type="submit" value="Ingresar">
</form>
<script src="/statics/js/user/login.js"></script>
