<h1>Peril</h1>
<p><strong>Nombre:</strong>{{name}} {{lastname}}</p>
<p><strong>Correo:</strong>{{email}}</p>
<p><strong>Rol:</strong>{{rol}}</p>



<form  >
    <input type="submit" value="Salir">
</form>
<script src="/statics/js/user/profile.js"></script>
