<h1>
    Registro
</h1>
<form >
    <label for="name">
        Nombre:
        <input type="text" name="name" id="">
    </label><br>
    <label for="lastname">
        Apellido:
        <input type="text" name="lastname" id="">
    </label><br>
    <label for="age">
        Edad:
        <input type="number" name="age" id="">
    </label><br>
    <label for="email">
        Correo
        <input type="mail" name="email" id="">
    </label><br>
    <label for="pass">
        Contraseña
        <input type="password" name="pass" id="">
    </label><br>
    <input type="submit" value="Crear usuario">
</form>

<script src="/statics/js/user/register.js"></script>
